* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  max-width: 550px;
}

/* HEADER SECTION */
.header-container {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
}

.header--icon {
  width: 24px;
  height: 24px;
}

.header--h1 {
  padding: 7px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

/* CARD SECTION */
.card-container {
  max-width: 470px;
  display: flex;
  margin: 40px;
}

.card--desc {
  padding: 15px;
}

.card--img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.coord-icon {
  width: 7px;
  height: 9.6px;
  margin-right: 3px;
}

.location {
  color: #2b283a;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

a {
  color: #918e9b;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-decoration-line: underline;
}

.card--h2 {
  color: #2b283a;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.card--date {
  color: #2b283a;
  font-weight: 700;
  font-size: 10.3px;
  line-height: 12.5px;
}

.card--text {
  color: #2b283a;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  padding-top: 10px;
}
